<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GGN_Photoshop_Utility.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <GGN_Photoshop_Utility.MySettings>
            <setting name="MyPhotoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutpurFolderName" serializeAs="String">
                <value />
            </setting>
        </GGN_Photoshop_Utility.MySettings>
    </userSettings>
</configuration>